<h1>The Grapevine</h1>
<br>
<p>Welcome to The Grapevine, a wine tracker app. As you try new wines you can add them to your Grapevine.
  You can specifiy region, vintage, price, and give each wine a rating.</p>
<br>
<a href='/signup' class="button">Create an account</a><br><br>
<a href='/login' class="button">Login</a><br><br>
