<h1>Enter a new wine</h1>
<form action="/wines" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Maker: <input type="text" name="maker"></p>
  <p>Type: <input type="text" name="wine_type"></p>
  <p>Region: <input type="text" name="region"></p>
  <p>Vintage: <input type="text" name="vintage"></p>
  <p>Price: <input type="text" name="price"></p>
  <p>Rating: <input type="text" name="rating"></p>
  <input type="submit" name="submit">
</form>
